<!-- Footer -->


<footer class="p-3" style="background-color: #ededed;">
    <div class="text-center p-1 fs-5">Học Và tên: Nguyễn Chí Thuận</div>
    <div class="text-center p-1 fs-5">Email: thuanncph26023@fpt.edu.vn</div>
    <div class="text-center p-1 fs-5">Sđt: 0936146245</div>
</footer>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>